@use 'styles'as*;

.form-card {
  max-width: 640px;
  margin: 24px auto;
  padding: 20px;
  box-shadow: var(--shadow-light);


  h2 { 
    color: var(--primary-dark); 
    margin-bottom: 12px; 

   }

  .full { 
    width: 100%; 
    margin-bottom: 14px;
  }


  button {
    width: 100%;
    background: var(--primary-color);
    color: #fff;
    font-weight: 600;
    padding: 12px;

  }
}